/* Global reset */
* {
    margin:0;
    padding:0;
}

/* Global formats */
a{
    text-decoration: none;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background-color: #37383C;
}


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Desktop version styles */
@media all and (min-width: 400px) {

    /* Estilos para el menu y barra de navegación */
    header {
        display: flex;

    }
    .menu_box_class {
        border-top: 5px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        padding: 2% 6% 0 8%;
        width: 100%;
    }

    #logo {
        width: 12%;
    }

    .gifos_logo{
        fill: white;
    }

    #menu_componentes {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 35% 25% 25% 15%;
    } 

    .modo_nocturno_menu {
        grid-column: 1/2;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 40px;
    }

    .modo_nocturno_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 55%;
    }

    .modo_nocturno_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }

    .favoritos_menu {
        grid-column: 2/3;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 12px;
    }

    .favoritos_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 47%;
    }

    .favoritos_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }

    #mis_gifos_menu {
        grid-column: 3/4;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 0;
    }

    #mis_gifos_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 47%;
    }

    #mis_gifos_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }


    #agregar_gif {
        grid-column: 4/5;
        border-radius: 100%;
        width: 55px;
        height: 55px;
        border: 1px solid white;
        background-color: #37383C;
        position: relative;
        left: -40px;
        top: -10px;
        background-image: url("../images/button-crear-gifo-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    

    #agregar_gif:hover {
        background-color: white;
        background-image: url("../images/button-crear-gifo-hover-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #agregar_gif:active {
        color: white;
        background-color: #9CAFC3;
        border: none;
    }

    /* Estilos para imagen pricipal y barra buscadora*/
    #principal {
        width: 100%;
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #titulo_principal {
        align-self: center;
        text-align: center;
        font-size: 2.5rem;
        width: 48%;
        line-height: 60px;
    }

    #titulo_principal > span {
        color: #50E3C2;
    }

    #imagen_principal {
        width:100%;
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    #imagen_principal > img {
        align-self: center;
    }

    /* Barra busqueda active */
    #barra_busqueda_abierta{
        position: relative;
        border: .5px solid white;
        width: 39%;
        align-self: center;
        border-radius: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #37383C;
    }

    #btn_lupa{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    #input_busqueda{
        width: 90%;
        border: none;
        height: 45px;
        background-color:#37383C;
        color: white;
    }

    #input_busqueda::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-size: .9rem;
        font-weight: 100;
        color: #9CAFC3;
    }

    #input_btn{
        align-self: center;
        height: 20%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 92%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9CAFC3;
        padding-top: 1%;
    }

    #btn_close{
        border: none;
        width: 30px;
        background-color: rgba(255, 255, 255, 0);
        background-image: url("../images/icono_lupa-blanco.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #sugerencias_container{
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        padding-top: 2%;
        display: none;
    }

    #sugerencias_container > p{
        line-height: 35px;
        color: #9CAFC3;
    }

    #sugerencias_container > p::before{
        content:url(../images/icono_lupa-gris.svg);
        padding-right: 3%;
    }

    /* Estilos para sección busqueda */
    #search_section_container{
        display: none;
    }

    #search_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4%;
    }

    #search_title{
        width: 400px;
        text-align: center;
        padding-top: 3%;
    }

    #btn_search{
        border: none;
        background-color: rgb(255, 255, 255);
        height: 50px;
        width: 160px;
        border-radius: 50px;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    #btn_search:hover{
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
    }

    #search_grid{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 33% 33% 33%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: 5% 0 5% 0;
    }

    #search_grid > div {
        border: 1px solid black;
        height: 200px;
        width: 250px;
    }



    /* Estilos sugerencias trending */
    #trending_principal {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 6%;
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 8%;
    }

    #titulo_trending {
        font-weight: 700;
        font-size: 1rem;
        line-height: 30px;
    }

    #trending_topics {
        font-weight: 100;
    }


    /* Estilos para trending section que será llenada con JS */
    #trending_sectionII{
        padding-top: 2%;
        background-color: #222326;
        height: 550px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20% 80%;
        overflow: hidden;
    }

    #trending_title {
        font-size: 1.8rem;
        font-weight: 600;
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        margin-top: 1.5%;
    }

    #trending_text {
        font-size: 1rem;
        font-weight: 100;
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        margin-top: 4.5%;
    }

    #prev_btn{
        grid-column: 1/2;
        grid-row: 1/3;
        height: 50px;
        width: 50px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-left: 30%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        background-image: url("../images/button-left-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #prev_btn:hover{
        background-color: white;
        background-image: url("../images/button-left-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #fwrd_btn{
        grid-row: 1/3;
        grid-column: 3/4;
        height: 50px;
        width: 50px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-right: 30%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        background-image: url("../images/button-right-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #fwrd_btn:hover{
        background-color: white;
        background-image: url("../images/button-right-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #trending_gifs_container{
        grid-row: 2/3;
        grid-column: 2/3;
        height: 350px;
        z-index: 0;
        overflow: hidden;
    }

    #trending_gifs{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #trending_hover_container{
        grid-row: 2/3;
        grid-column: 2/3;
        height: 350px;
        z-index: 100;
    }

    #trending_hover{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
    }

    .div_buttons{
        width: 350px;
        height: 12%;
        padding-top: 2%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btnTrending{
        width: 11%;
        margin-right: 3%;
        background-color: white;
        opacity: .7;
        border: none;
        border-radius: 10px;
        display: none;
    }

    .btnTrending:hover{
        opacity: 1;
    }

    .hover_container_js{
        background-color: rgba(86, 46, 229, 0);
        height: 300px;
        width: 350px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    /* Estilos footer */
    footer{
        height: 125px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10% 0 10%;
        font-size: .8rem;
        font-weight: 100;
        justify-content: space-between;
    }

    #redes_box{
        display: flex;
        flex-direction: row;
        width: 30%;
        
    }

    #redes_box > .redes_icon{
        padding: 0 3% 0 3%;
        height: 20px;
        width: 40px;
    }

    #facebook{
        background-image: url("../images/icon_facebook.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #facebook:hover{
        background-image: url("../images/icon_facebook-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #twitter{
        background-image: url("../images/icon-twitter.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #twitter:hover{
        background-image: url("../images/icon-twitter-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #instagram{
        background-image: url("../images/icon_instagram.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #instagram:hover{
        background-image: url("../images/icon_instagram-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #copyright{
        display: flex;
        justify-self: end;
    }
}





/* Mobile version styles */
@media all and (max-width: 400px) {

    /* Estilos para el menu y barra de navegación */
    header {
        display: flex;

    }
    .menu_box_class {
        border-top: 5px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        padding: 2% 6% 0 8%;
        width: 100%;
    }

    #logo {
        width: 12%;
    }

    .gifos_logo{
        fill: white;
    }

    #menu_componentes {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 35% 25% 25% 15%;
    } 

    .modo_nocturno_menu {
        grid-column: 1/2;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 40px;
    }

    .modo_nocturno_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 55%;
    }

    .modo_nocturno_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }

    .favoritos_menu {
        grid-column: 2/3;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 12px;
    }

    .favoritos_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 47%;
    }

    .favoritos_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }

    #mis_gifos_menu {
        grid-column: 3/4;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        position: relative;
        top: -10px;
        left: 0;
    }

    #mis_gifos_menu:hover{
        border-bottom: 2px solid #5ED7C6;
        width: 47%;
    }

    #mis_gifos_menu:active{
        color: #9CAFC3;
        border-bottom: none;
    }


    #agregar_gif {
        grid-column: 4/5;
        border-radius: 100%;
        width: 55px;
        height: 55px;
        border: 1px solid white;
        background-color: #37383C;
        position: relative;
        left: -40px;
        top: -10px;
        background-image: url("../images/button-crear-gifo-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    

    #agregar_gif:hover {
        background-color: white;
        background-image: url("../images/button-crear-gifo-hover-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #agregar_gif:active {
        color: white;
        background-color: #9CAFC3;
        border: none;
    }

    /* Estilos para imagen pricipal y barra buscadora*/
    #principal {
        width: 100%;
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #titulo_principal {
        align-self: center;
        text-align: center;
        font-size: 2.5rem;
        width: 48%;
        line-height: 60px;
    }

    #titulo_principal > span {
        color: #50E3C2;
    }

    #imagen_principal {
        width:100%;
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    #imagen_principal > img {
        align-self: center;
    }

    /* Barra busqueda active */
    #barra_busqueda_abierta{
        position: relative;
        border: .5px solid white;
        width: 39%;
        align-self: center;
        border-radius: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #37383C;
    }

    #btn_lupa{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    #input_busqueda{
        width: 90%;
        border: none;
        height: 45px;
        background-color:#37383C;
        color: white;
    }

    #input_busqueda::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-size: .9rem;
        font-weight: 100;
        color: #9CAFC3;
    }

    #input_btn{
        align-self: center;
        height: 20%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 92%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9CAFC3;
        padding-top: 1%;
    }

    #btn_close{
        border: none;
        width: 30px;
        background-color: rgba(255, 255, 255, 0);
        background-image: url("../images/icono_lupa-blanco.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #sugerencias_container{
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        padding-top: 2%;
        display: none;
    }

    #sugerencias_container > p{
        line-height: 35px;
        color: #9CAFC3;
    }

    #sugerencias_container > p::before{
        content:url(../images/icono_lupa-gris.svg);
        padding-right: 3%;
    }

    /* Estilos para sección busqueda */
    #search_section_container{
        display: none;
    }

    #search_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4%;
    }

    #search_title{
        width: 400px;
        text-align: center;
        padding-top: 3%;
    }

    #btn_search{
        border: none;
        background-color: rgb(255, 255, 255);
        height: 50px;
        width: 160px;
        border-radius: 50px;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    #btn_search:hover{
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
    }

    #search_grid{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 33% 33% 33%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: 5% 0 5% 0;
    }

    #search_grid > div {
        border: 1px solid black;
        height: 200px;
        width: 250px;
    }



    /* Estilos sugerencias trending */
    #trending_principal {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 6%;
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 8%;
    }

    #titulo_trending {
        font-weight: 700;
        font-size: 1rem;
        line-height: 30px;
    }

    #trending_topics {
        font-weight: 100;
    }


    /* Estilos para trending section que será llenada con JS */
    #trending_sectionII{
        padding-top: 2%;
        background-color: #222326;
        height: 550px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20% 80%;
        overflow: hidden;
    }

    #trending_title {
        font-size: 1.8rem;
        font-weight: 600;
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        margin-top: 1.5%;
    }

    #trending_text {
        font-size: 1rem;
        font-weight: 100;
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        margin-top: 4.5%;
    }

    #prev_btn{
        grid-column: 1/2;
        grid-row: 1/3;
        height: 50px;
        width: 50px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-left: 30%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        background-image: url("../images/button-left-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #prev_btn:hover{
        background-color: white;
        background-image: url("../images/button-left-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #fwrd_btn{
        grid-row: 1/3;
        grid-column: 3/4;
        height: 50px;
        width: 50px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-right: 30%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        background-image: url("../images/button-right-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #fwrd_btn:hover{
        background-color: white;
        background-image: url("../images/button-right-darkmode.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    #trending_gifs_container{
        grid-row: 2/3;
        grid-column: 2/3;
        height: 350px;
        z-index: 0;
        overflow: hidden;
    }

    #trending_gifs{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #trending_hover_container{
        grid-row: 2/3;
        grid-column: 2/3;
        height: 350px;
        z-index: 100;
    }

    #trending_hover{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
    }

    .div_buttons{
        width: 350px;
        height: 12%;
        padding-top: 2%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btnTrending{
        width: 11%;
        margin-right: 3%;
        background-color: white;
        opacity: .7;
        border: none;
        border-radius: 10px;
        display: none;
    }

    .btnTrending:hover{
        opacity: 1;
    }

    .hover_container_js{
        background-color: rgba(86, 46, 229, 0);
        height: 300px;
        width: 350px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    /* Estilos footer */
    footer{
        height: 125px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10% 0 10%;
        font-size: .8rem;
        font-weight: 100;
        justify-content: space-between;
    }

    #redes_box{
        display: flex;
        flex-direction: row;
        width: 30%;
        
    }

    #redes_box > .redes_icon{
        padding: 0 3% 0 3%;
        height: 20px;
        width: 40px;
    }

    #facebook{
        background-image: url("../images/icon_facebook.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #facebook:hover{
        background-image: url("../images/icon_facebook-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #twitter{
        background-image: url("../images/icon-twitter.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #twitter:hover{
        background-image: url("../images/icon-twitter-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #instagram{
        background-image: url("../images/icon_instagram.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #instagram:hover{
        background-image: url("../images/icon_instagram-darkmode.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    #copyright{
        display: flex;
        justify-self: end;
    }
}