/* Global reset */
* {
    margin:0;
    padding:0;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.texto {
    font-family: 'Lato', sans-serif;
}

/* Desktop version styles */
@media all and (min-width: 400px) {

    /* Estilos para el menu y barra de navegación */
    header {
        display: flex;

    }
    #menu_box {
        border-top: 5px solid #572EE5;
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        padding: 2% 6% 0 8%;
        width: 100%;
    }

    #logo {
        width: 12%;
    }

    #menu_componentes {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 35% 25% 25% 15%;
    } 

    #modo_nocturno_menu {
        grid-column: 1/2;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        color: #572EE5;
        position: relative;
        top: -10px;
        left: 40px;
    }

    #favoritos_menu {
        grid-column: 2/3;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        color: #572EE5;
        position: relative;
        top: -10px;
        left: 12px;
    }

    #mis_gifos_menu {
        grid-column: 3/4;
        font-size: .8rem;
        font-weight: 700;
        display: flex;
        align-self: center;
        color: #572EE5;
        position: relative;
        top: -10px;
        left: 0;
    }

    #agregar_gif {
        grid-column: 4/5;
        border-radius: 100%;
        width: 55px;
        height: 55px;
        border: 1px solid #572EE5;
        background-color: white;
        position: relative;
        left: -40px;
        top: -10px;
    }

    #agregar_gif:hover {
        color: white;
        background-color: #572EE5;
    }

    #agregar_gif:active {
        color: white;
        background-color: #9CAFC3;
        border: none;
    }

    /* Estilos para imagen pricipal y barra buscadora*/
    #principal {
        width: 100%;
        padding-top: 8%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #titulo_principal {
        align-self: center;
        text-align: center;
        color: #572EE5;
        font-size: 2.5rem;
        width: 48%;
        line-height: 60px;
    }

    #titulo_principal > span {
        color: #50E3C2;
    }

    #imagen_principal {
        width:100%;
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    #imagen_principal > img {
        align-self: center;
    }

    #barra_busqueda {
        border: 1px solid #572EE5;
        width: 37%;
        height: 50px;
        align-self: center;
        border-radius: 50px;
        display: flex;
        justify-items: center;
        justify-content: space-between;
        padding: 0 2% 0 4%;
    }

    #input_busqueda {
        border: none;
    }

    #input_busqueda::placeholder {
        color: #9CAFC3;
        font-family: 'Lato', sans-serif;
        font-size: .95rem;
        font-weight: 100;
    }

    #lupa {
        position: relative; 
    }

    #trending_principal {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 6%;
        color: #572EE5;
        font-size: 1rem;
        line-height: 25px;
    }

    #titulo_trending {
        font-weight: 700;
    }

    #trending_topics {
        font-weight: 100;
    }
}

/* Estilos para seccion de trending */
#trending_section {
    background-color: #F3F5F8;
    height: 400%;
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

#trending_title {
    color: #572EE5;
    line-height: 70px;
}

#trending_text {
    color: black;
}

#trending_gifs {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

#prev_btn {
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border: 1px solid #572EE5;
    background-color: white;
}

#fwrd_btn {
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border: 1px solid #572EE5;
    background-color: white;
}

.gif {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 0 2% 2% 2%;
}

/* Mobile version styles */
@media all and (max-width: 400px) {
}